.hero {
  position: relative;
  height: calc(100vh - 54px);
  max-height: calc(100vh - 54px);
  padding-top: 10px;
  padding-bottom: 60px;
  background-position: 82% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  color: #ffffff;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  pointer-events: none;
  opacity: 0.3;
}
div.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}
.hero__call-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.hero__contact-phone {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  font-style: normal;
  color: inherit;
}
.hero__contact-phone:hover {
  opacity: 0.8;
}
.hero__contact-phone:active {
  opacity: 0.88;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  height: 100%;
}
.hero__title {
  display: block;
  max-height: 55%;
  margin: 0;
  font-family: sans-serif, system-ui;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.hero__title-text {
  max-height: 80%;
  overflow: hidden;
}
.hero__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.hero__buttons-wrapper > button + button {
  margin-top: 16px;
}
.hero__arrow-button {
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}
@media screen and (min-width: 640px) {
  .hero {
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
  }
  .hero__call-us {
    font-size: 20px;
    line-height: 28px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 56px;
  }
  .hero__buttons-wrapper > button + button {
    margin-top: 0;
    margin-left: 16px;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    height: calc(100vh - 94px);
    max-height: calc(100vh - 94px);
    padding-top: 40px;
  }
  .hero__title {
    font-size: 56px;
    line-height: 64px;
  }
  .hero__arrow-button {
    bottom: 30px;
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    height: calc(100vh - 112px);
    max-height: calc(100vh - 112px);
  }
  .hero__call-us {
    font-size: 24px;
    line-height: 32px;
  }
  .hero__title {
    font-size: 72px;
    line-height: 80px;
  }
}
