.info-text__title-block {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}
.info-text__text-block {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}
.info-text__text {
  color: #ffffff;
}
b.info-text__text {
  text-transform: uppercase;
}
@media screen and (min-width: 640px) {
}
@media screen and (min-width: 960px) {
}
@media screen and (min-width: 1360px) {
}
