.form {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.form__input-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.form__input-wrapper + .form__input-wrapper {
  margin-top: 20px;
}
.form__input-wrapper + .form__submit-button {
  margin-top: 32px;
}
.form__input {
  display: block;
  width: 100%;
  height: 47px;
  padding: 22px 0 4px;;
  margin-bottom: 2px;
  border-bottom: 2px solid;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  cursor: text;
  color: #ffffff;
}
.form__input:hover {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
.form__input:focus ~ .form__input-label {
  top: 0;
  font-size: 12px;
}
.form__input-details {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffffff;
}
.form__input-label {
  position: absolute;
  top: 16px;
  left: 0;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  transition: top 0.15s ease;
}
.form__agreement-text {
  font-size: 12px;
  line-height: 16px;
}
.form__agreement-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  white-space: nowrap;
  opacity: 0.64;
  cursor: pointer;
}
.form__agreement-link:hover {
  opacity: 1;
}
@media screen and (min-width: 640px) {
  .form__input-label {
    top: 11px;
    font-size: 16px;
    line-height: 24px;
  }
  .form__input:focus ~ .form__input-label {
    font-size: 14px;
  }
}
@media screen and (min-width: 960px) {
  .form__input-wrapper {
    width: calc(50% - 20px);
  }
  .form__input-wrapper + .form__input-wrapper {
    margin-top: 0;
    margin-left: 40px;
  }
}
