.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
}

.content p {
  margin: 0;
  text-align: justify;
}

.content p + p {
  margin-top: 8px;
}

.content p + ul {
  margin-top: 8px;
}

.content * + p {
  margin-top: 8px;
}

.image {
  width: 100%;
  min-height: 373px;
}

.content strong {
  font-weight: 600;
}

@media (max-width: 640px) {
  .content {
    padding: 8px;
    /* TODO Здесь делаю большой отступ потому что в safari есть строка браузерная внизу,
         которая может перекрывать кнопку "Запишись здесь". Пока что такой хак, потом поправлю.
    */
    padding-bottom: 50px;
  }
}
