.info-text__title-block {
  margin-bottom: 16px;
  font-family: sans-serif, system-ui;
  font-size: 24px;
  line-height: 32px;
}
.info-text__text-block {
  font-size: 16px;
  line-height: 24px;
}
.info-text__text-block > p {
  margin: 0;
}
.info-text__text {
  margin: 0;
  color: #ffffff;
}
b.info-text__text {
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 640px) {
  .info-text__title-block {
    font-size: 28px;
    line-height: 36px;
  }
}
@media screen and (min-width: 960px) {
  .info-text__title-block {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
  }
  .info-text__text-block {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1360px) {
  .info-text__title-block {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px;
  }
}
