@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('https://storage.yandexcloud.net/zvenfit/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('https://storage.yandexcloud.net/zvenfit/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sofia Sans Extra Condensed'),
    local('SofiaSansExtra-Condensed'),
    url('https://storage.yandexcloud.net/zvenfit/fonts/SofiaSansExtraCondensed-Bold.woff2') format('woff2'),
    url('https://storage.yandexcloud.net/zvenfit/fonts/SofiaSansExtraCondensed-Bold.woff') format('woff');
}
