.clear-button {
  position: absolute;
  top: 22px;
  right: -20px;
  color: #ffffff;
  cursor: pointer;
  transition: right 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.clear-button:hover {
  opacity: 0.8;
}
.clear-button:active {
  opacity: 0.88;
}
.clear-button > svg {
  display: block;
}
.clear-button--show {
  right: 4px;
}
.clear-button--hide {
  display: none;
}
