.swiper-wrapper {
  margin-bottom: 32px;
}
.swiper-pagination {
  position: relative;
  top: 0;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.32);
  opacity: 1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
@media screen and (min-width: 960px) {
  .swiper-pagination-bullet {
    display: none;
  }
}
