.link-button {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 0 24px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  @media screen and (min-width: 640px) {
    width: fit-content;
    font-size: 16px;
    line-height: 48px;
  }
}
.link-button:focus-visible {
  outline: 2px solid #ffdd2d;
}
.link-button:hover {
  opacity: 0.8;
}
.link-button:active {
  opacity: 0.88;
}
.link-button--orange-flat {
  background-color: #ed7a24;
}
.link-button--disabled.link-button--orange-flat {
  background-color: #67452e;
}
.link-button--green-flat {
  background-color: #54c263;
}
.link-button--disabled.link-button--green-flat {
  background-color: #2b5430;
}
.link-button--orange-outlined {
  border-color: #ed7a24;
}
.link-button--disabled.link-button--orange-outlined {
  border-color: rgba(237, 122, 36, 0.3);
}
.link-button--green-outlined {
  border-color: #54c263;
}
.link-button--disabled.link-button--green-outlined {
  border-color: rgba(84, 194, 99, 0.3);
}
