.registration-form {
  padding: 72px 0;
  background-color: #111111;
}
.registration-form__info-text {
  margin-bottom: 20px;
}
.registration-form__form {
  margin-bottom: 12px;
}
.registration-form__agreement-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
.registration-form__agreement-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  white-space: nowrap;
  opacity: 0.64;
  cursor: pointer;
}
.registration-form__agreement-link:hover {
  opacity: 1;
}
@media screen and (min-width: 640px) {
  .registration-form__agreement-text {
    margin-bottom: 32px;
  }
  .registration-form__form {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 960px) {
  .registration-form__agreement-text {
    width: 50%;
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1360px) {
  .registration-form__form {
    margin-bottom: 20px;
  }
}
