.privacy-policy-modal {
  padding: 16px;
}
.privacy-policy-modal__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-indent: 1em;
  text-align: justify;
}
.privacy-policy-modal__address {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  text-indent: 0;
}
.privacy-policy-modal__link {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  opacity: 0.75;
}
.privacy-policy-modal__link:hover {
  opacity: 0.75;
}
.privacy-policy-modal__link:active {
  opacity: 0.88;
}
@media screen and (min-width: 960px) {
  .privacy-policy-modal__text {
    font-size: 16px;
    line-height: 24px;
  }
}
