.privacy-policy {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.privacy-policy__agreement-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  white-space: nowrap;
  opacity: 0.64;
  cursor: pointer;
}
.privacy-policy__agreement-link:hover {
  opacity: 1;
}
